body {
    font-family: 'Fira Sans', sans-serif;
    color: #1a1a1a;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

a.black {
    text-decoration: none;
    color: #000;
}

.red_text {
    text-decoration: none;
    color: #900022;
}


/* FIRST CONTAINER */

.first_container {
    display: flex;
    justify-content: center;
    margin: 4px;
}

.box {
    margin: 7px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}


/* SECOND CONTAINER */

.second_container {
    background: #7e0019;
    display: flex;
    height: 65px;
    justify-content: space-between;
    padding: 12px;
    align-items: center;
    text-transform: uppercase;
}

.container2_1 {
    display: flex;
    margin: 40px;
}

.box_two {
    color: white;
    text-align: center;
    position: relative;
    justify-content: center;
    margin: auto;
}

.icon_menu {
    height: 50px;
    width: 60px;
}

.logo {
    font-family: Georgia;
    font-size: 32px;
    font-weight: lighter;
    letter-spacing: -2px;
}

.logo_info {
    font-size: 10px;
}

.language {
    font-size: 12px;
    font-weight: 800;
    margin-right: 15px;
}

.clubUP {
    border: 3px solid #ffffff;
    border-radius: 20px;
    background: #b30c1d;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.a_style {
    color: #ffffff;
    text-decoration: none;
}


/* THIRD CONTAINER */

.third_container {
    display: flex;
    justify-content: center;
    border-bottom: #e3e3e3 1px solid;
    padding: 0;
    margin: 0;
}

.box_three {
    margin: 8px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}


/* CONTAINER PANDEMIA */

.container_pandemia {
    padding: 12px;
    width: 1350px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.pandemia {
    width: calc(100% / 4);
    padding: 13px 12px;
    box-sizing: border-box;
    border: 1px solid #e3e3e3;
    margin: 0 5px;
}

.covid {
    display: flex;
    margin: -5px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.numbers {
    font-weight: bold;
    font-size: 36px;
    line-height: 0.9em;
    display: flex;
    align-items: flex-end;
}

.statistica_img {
    width: 100px;
    height: 30px;
}

.statistic {
    display: flex;
}

.covid_title {
    color: #900022;
    text-transform: uppercase;
    font-size: 18px;
}

.covid_info {
    font-size: 13px;
    padding: 5px 0px 0px;
}

.covid_more {
    color: #900022;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px 0px 0px;
}

.covid_status {
    font-size: 11px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.num {
    font-size: 16px;
    color: #900022;
    padding: 0px 25px 0px 10px;
    display: flex;
    align-items: flex-end;
}


/* CONTENT */

.content {
    width: 100%;
    background: #3b3b3e;
}

.content_container {
    width: 1250px;
    margin: auto;
    padding: 30px 20px 30px 20px;
}

.content_container1 {
    display: flex;
    padding: 10px 20px 20px 0px;
}

.content_img2 {
    width: 230px;
    height: 128px;
}

.content_container1_2 {
    padding: 0px 0px 0px 30px;
}

.content_text1 {
    color: #ffffff;
    font-size: 50px;
    margin: 0px 0px 10px 0px;
}

.content_text2 {
    color: #ffffff;
    font-size: 17px;
    line-height: 1.2px;
}

.content_container2 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(255, 255, 255, .2);

}

.content_container2_1 {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.content_container2_2 {
    padding-right: 20px;
    margin-right: 20px;
}

a.white {
    text-decoration: none;
}

.content_text3 {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.content_container2_1:before {
    content: "";
    width: 20px;
    height: 20px;
    background: #900022;
    left: 0;
    top: 8px;
}


/* MAIN CONTAINER */

.main_container {
    display: flex;
    justify-content: center;
}

.fourth_container {
    margin-top: 30px;
    display: flex;
    width: 1280px;
    width: 1250px;
}

.content_img {
    width: 100%;
    height: auto;
}

.container4_1 {
    display: flex;
    max-width: 50%;
    font-size: 100%;
}

.container4_2 {
    max-width: 50%;
}

.news_container {
    padding: 0px 25px 0px 0px;
}

.news_container1 {
    padding: 0px 25px 0px 0px;
    margin-top: 55px;
}

.news_text {
    width: 100%;
}

.news_text1 {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0;
}

.news_border {
    border-top: 1px solid #d8d8da;
}

.news_autors {
    text-transform: uppercase;
    font-size: 12px;
    color: #8a8a8f;
}